.container--logos-section {
  background: linear-gradient(90deg, #DFEAFA 0%, #ABCDFF 75.7%);
  padding-block: 12px;

  .container--wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


    @media (max-width: 1024px) {
      padding-block: 40px;

    }

    .container--title-logo {

      width: 30%;

      @media (max-width: 1024px) {
        width: 100%;
        padding-block-end: 20px;
      }

      .title--logo {
        font-family: $font__secondary;
        font-weight: 700;
        font-size: 18px;
        color: $blue;
        text-align: center;
        text-transform: uppercase;
      }


    }

    .container--logos-images {

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;


      .image--logo {

      }

    }


    @media (max-width: 1024px) {
      :nth-child(4) {
        width: 100%;
        justify-content: center;
      }
    }

  }

}