.container--gallery {
  padding-block: 40px;
  .container--wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    .container--info-gallery {
      width: 40%;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .title--gallery {
        font-family: $font__main;
        font-size: 48px;
        text-align: left;
        color: #333333;
        font-weight: 600;

        &::after {
          content: "";
          display: block;
          width: 260px;
          height: 2px;
          background: linear-gradient(to right, transparent, #a57c3c 50%, transparent);
          //margin: 0 auto;
        }

      }

      .description--gallery {
        padding-block-start: 20px;

        * {
          font-family: $font__secondary;
          font-size: 14px;
          color: black;
          font-weight: 400;
          text-align: left;

          @media (max-width: 1024px) {
            font-size: 18px;
          }
        }
      }

    }

    .container--images-gallery {
      width: 55%;

      @media (max-width: 1024px) {
        width: 100%;
      }
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 10px;

      .image--gallery {
        width: 100%;
        height: 150px;
        border-radius: 15px;
        object-fit: cover;
        object-position: center center;

        &:nth-child(4) {
          grid-column: span 1;

        }

        &:nth-child(5) {
          grid-column: span 2;
        }
      }
    }

  }

}