.container--section-hero {
  padding-block: 40px;

  .container--wrapper {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    min-height: 600px;

    .container--hero-image {
      position: absolute;
      width: 100%;
      height: 100%;

      .image--hero {
        max-width: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }


    .container--hero-info {
      position: relative;
      z-index: 2;
      padding-inline-start: 20px;
      padding-block-start: 40px;

      .title--hero {
        font-family: $font__main;
        font-size: 45px;
        text-transform: uppercase;
        padding-block-end: 10px;
        font-weight: 500;
        color: #333333;
      }

      .subtitle--hero {
        font-family: $font__secondary;
        font-size: 18px;
        padding-block-end: 20px;
        color: #333333;
        font-weight: 400;
      }


      .container--hero-cta {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 15px;
        align-items: center;

        .first--cta {
          display: flex;
          padding: 10px 20px;
          border-radius: 20px;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: var(--c-gold);
          color: white;
          font-family: $font__secondary;
          font-size: 16px;

        }

        .second--cta {
          display: flex;
          padding: 10px 20px;
          border-radius: 20px;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: var(--c-body-bg);
          color: var(--c-gold);
          font-family: $font__secondary;
          font-size: 16px;
        }

      }

    }

    .container--hero-text {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-color: white;
      padding: 10px 30px;
      border-radius: 40px 0 0 0;

      .text--hero {
        font-family: $font__secondary;
        font-size: 20px;
        color: #333333;
        font-weight: 500;
        text-align: right;
      }
    }

  }

}