.container--two-columns-text {
  padding-block: 60px;

  img {
    max-width: unset;
  }

  p {
    margin: 0;
  }

  &.layout-left {

    .subtitle--section {
      font-family: $font__secondary;
      font-weight: 600;
      font-size: 16px;
      color: $blue;
      padding-block-end: 16px;
      text-transform: uppercase;

      @media (max-width: 1024px) {
        padding-block-end: 12px;
      }
    }

    .container--cta-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;

      .first--cta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 32px;
        font-family: $font__main;
        font-weight: 600;
        font-size: 16px;
        background-color: $blue;
        color: white;
        border-radius: 8px;
      }

      .second--cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 12px 32px;
        font-family: $font__main;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        border: 2px solid $blue;
        color: $blue;
      }
    }

    .container--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 51px;

      @media (max-width: 1024px) {
        flex-direction: column-reverse;
      }

      .container--info-section {
        width: 45%;

        @media (max-width: 1024px) {
          width: 100%;
        }

        .title--section {
          font-family: $font__main;
          font-size: 40px;
          font-weight: 700;
          color: var(--c-primary);
          padding-block-end: 24px;
        }

        .description--section {
          * {
            font-family: $font__secondary;
            font-weight: 400;
            font-size: 18px;
            color: var(--c-secondary);
          }
        }

        .container--info-section {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          padding-block-start: 32px;

          @media (max-width: 1024px) {
            flex-wrap: wrap;
          }

          .info--section {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 1px 3px 0px #00000040;
            padding: 16px 24px;

            .container--text-icon {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 8px;
              padding-block-end: 16px;

              .icon--info {
                padding: 7px;
                border-radius: 6px;
                background-color: $blue;
              }

              .title--info {
                font-family: $font__secondary;
                font-weight: 700;
                font-size: 20px;
                color: $blue;
                text-transform: uppercase;

              }
            }

            .container--description-info {
              * {
                font-family: $font__secondary;
                font-weight: 400;
                font-size: 16px;
                color: var(--c-secondary);
              }
            }
          }
        }
      }

      .container--image-section {
        width: 45%;

        img {
          width: 100%;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }

  }


  &.layout-right {

    background-color: #DFEAFA;

    .container--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 51px;

      .container--info-section {
        width: 45%;

        @media (max-width: 1024px) {
          width: 100%;
        }


        .title--section {
          font-family: $font__main;
          font-size: 48px;
          font-weight: 700;
          color: var(--c-primary);
          padding-block-end: 24px;

          @media (max-width: 1024px) {
            font-size: 36px;
            line-height: normal;
          }
        }

        .subtitle--section {
          font-family: $font__secondary;
          font-size: 16px;
          font-weight: 600;
          color: $blue;
          padding-block-end: 16px;
          text-transform: uppercase;
        }

        .description--section {
          * {
            font-family: $font__secondary;
            font-weight: 400;
            font-size: 18px;
            color: var(--c-secondary);
            padding-block-end: 32px;
          }
        }

        .container--cta-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;

          .first--cta {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 32px;
            font-family: $font__main;
            font-weight: 600;
            font-size: 16px;
            background-color: $blue;
            color: white;
            border-radius: 8px;
          }

          .second--cta {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 12px 32px;
            font-family: $font__main;
            font-weight: 600;
            font-size: 16px;
            border-radius: 8px;
            border: 2px solid $blue;
            color: $blue;
          }
        }
      }

      .container--image-section {
        width: 45%;

        img{
          width: 100%;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }


    //Responsive desktop

    @media (max-width: 1440px) {
      .container--wrapper{

        .container--info-section{
          .title--section{
            font-size: 32px;
          }
        }

      }
    }

  }

}

