.container--two-columns {
  background-color: #DFEAFA;

  padding-block: 40px;

  img {
    max-width: unset;
  }

  p {
    margin: 0;
  }

  .container--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 65px;


    .container-image {
      width: 45%;
      @media (max-width: 1024px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }


    .container--info-section {
      width: 45%;
      @media (max-width: 1024px) {
        width: 100%;
      }

      .container-info {
        padding-block-end: 32px;

        .subtitle-info {
          font-family: $font__secondary;
          font-weight: 600;
          font-size: 16px;
          color: $blue;
          padding-block-end: 16px;
          text-transform: uppercase;

          @media (max-width: 1024px) {
            padding-block-end: 12px;
          }
        }

        .title-info {
          font-family: $font__main;
          font-weight: 700;
          font-size: 48px;
          color: var(--c-primary);
          padding-block-end: 24px;

          @media (max-width: 1024px) {
            font-size: 36px;
            line-height: normal;
            padding-block-end: 20px;
            text-align: left;
          }
        }

        .description-info {
          * {
            font-family: $font__secondary;
            font-weight: 400;
            font-size: 18px;
            color: var(--c-secondary);

          }
        }
      }

      .container--info-column {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        padding-block-end: 32px;

        @media (max-width: 1024px) {
          flex-wrap: wrap;
        }

        .column-0 {
          border-right: 2px solid $blue;
          padding-right: 20px;

          @media (max-width: 1024px) {
            padding: 0 0 20px 0;
            border-right: none;
            border-bottom: 2px solid $blue;
          }
        }

        .column-1 {
          padding-left: 20px;
          @media (max-width: 1024px) {
            padding: 0;
          }
        }

        .container--column-data {
          width: 45%;
          padding-block-end: 32px;

          @media (max-width: 1024px) {
            width: 100%;
          }

          .container-icon-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            padding-block-end: 16px;

            @media (max-width: 1024px) {
              justify-content: unset;
              gap: 8px;
            }

            .icon-column {
              background-color: #3662D41A;
              border: 2px solid $blue;
              border-radius: 6px;
              padding: 7px;
            }

            .title-column {
              font-family: $font__secondary;
              font-size: 20px;
              color: $blue;

              @media (max-width: 1024px) {
                text-transform: uppercase;
                font-size: 20px;
              }
            }
          }

          .container--description-data {
            * {
              font-family: $font__secondary;
              font-weight: 400;
              font-size: 16px;
              color: var(--c-secondary);
            }
          }


        }

      }

      .container--cta-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        .first-cta {
          font-family: $font__main;
          background-color: $blue;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 32px;
          border-radius: 8px;
        }

        .second-cta {
          font-family: $font__main;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 32px;
          border: 2px solid $blue;
          color: $blue;
          gap: 2px;
          border-radius: 8px;
        }
      }
    }

  }

}

// Responsive desktop

@media (max-width: 1440px) {
  .container--two-columns {
    .container--wrapper {

      .container-image {
        width: 45%;
      }

      .container--info-section {
        width: 45%;

        .container-info {

          .title-info {
            font-size: 32px;
            padding-block-end: 10px;
          }

        }

        .container--info-column{

          .container--column-data{

            .container-icon-title{

              .title-column{
                font-size: 16px;
              }

            }

          }

        }

      }
    }
  }
}