.container--text-media {
  background-color: #DFEAFA;
  padding-block: 40px;


  img {
    max-width: unset;
  }

  .container--wrapper {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      gap: 32px;
    }

    .container--image-section {
      img {
        width: 100%;
      }
    }

    .container--info-section {

      .subtitle--section-text {
        color: #3662D4;
        font-family: $font__secondary;
        font-size: 16px;
        padding-block-end: 16px;
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 1024px) {
          font-size: 16px;
          padding-block-end: 12px;
        }
      }

      .title--section-text {
        font-family: $font__main;
        font-weight: 700;
        font-size: 48px;
        color: var(--c-primary);
        line-height: 57px;
        padding-block-end: 24px;

        @media (max-width: 1024px) {
          font-size: 36px;
          padding-block-end: 20px;
        }
      }

      .description--section-text {
        * {
          font-family: $font__secondary;
          font-size: 18px;
          font-weight: 400;
          color: var(--c-secondary);
          padding-block-end: 32px;
          margin: 0;

          @media (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }

      .container--list-cta {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .container--info-cta {
          display: flex;
          gap: 8px;
          justify-content: flex-start;
          align-items: center;

          .container--icon {
            background-color: #3662D41A;
            border: 1px solid #3662D4;
            padding: 5px;
            border-radius: 4px;
          }

          h5 {
            font-family: $font__secondary;
            font-size: 16px;
            font-weight: 400;
            color: #4F4F4F;
          }

        }
      }

      .container--cta {
        padding-block-start: 32px;
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: 1024px) {
          justify-content: center;
        }


        .first-cta {
          background-color: $blue;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          max-width: 125px;
          max-height: 50px;
          padding: 12px 16px;
          border-radius: 8px;
        }

        .second-cta {
          border: 2px solid $blue;
          color: $blue;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 125px;
          max-height: 50px;
          padding: 12px 16px;
          gap: 2px;
          border-radius: 8px;
        }
      }
    }
  }
}

// Responsive for desktop

@media (max-width: 1440px) {

  .container--text-media {

    .container--wrapper {

      .container--image-section {
        width: 45%;
      }

      .container--info-section{
        width: 45%;
      }

    }

  }

}